
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position: top left , bottom right;

}
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-color{
    color: tomato;

}
nav ul li{
    list-style: none;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
    margin-right: 50px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px;
}
/*share styles*/

.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color:white ;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: 20px;
    border: none;
    margin: 5px;


}
.text-center{
    text-align: center;

}

/*Nav styles*/
.nav-title{
    font-weight:800 ;
    font-size: 45px;
}
/*banner*/

.banner-welcome{
    font-size: 45px;
    font-weight: 600;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-content{
    max-width: 580px;
}

nav{
    display: flex;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    color: #474747;
    font-size: 18px;
}
.banner-pic{
    width: 580px;
}
/*section*/
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    text-align: center;

}
.section-description{
    font-size: 18px;
    color: #757575;
    
    
}

/*about styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
    
    background-color: rgb(244, 241, 236);
}
/*main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;   
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.secondary-bg{
    background-color: #fff8f3;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}


/*skills section stction*/
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgb(102, 101, 101);
    border-radius: 5px ;
}
.skill-description{
    
    font-size: 18px;
}
